* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(0, 15, 34);
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slots {
    display: flex;
    margin: auto;
    border: 3px solid orange;
    width: 70%;
    height: 80%;
    margin-bottom: 4px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.slot-row {
    border-right: 2px solid rgb(32, 32, 32);  
    width: calc(100% / 4);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 2s ease;
}

.slot {
    object-fit:scale-down
}

.slot-row:last-child {
    border: none;
}

.slot-row img {
    width: 250px;
    height: 250px;
}

.info-panel {
    width: 70%;
    margin: auto;
    display: flex;
    background-color: black;
    color: white;
    padding: 9px;
    font-size: 20px;
    border: 1px solid white;
}

.info-bar {
    width: 30%;
    display: flex;
    border-right: 1px solid gray;
    padding: 3px;
}

.info-bar span {
    padding: 12px;
    font-size: 40px;
}

.bet-amounts {
    margin: 0.2% auto;
    width: 70%;
}

.bet-amounts button {
    padding: 24px;
    width: 100px;
    border: 1px solid rgb(43, 43, 43);
    font-size: 24px;
    color: white;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("imgs/quickhit.png");
    background-color: rgba(0, 0, 0, 0.9);
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bet-amounts button.selected {
    border: 3px solid rgb(255, 108, 45);
}

.bet-amounts button:disabled {
    opacity: 0.5;
}

@keyframes quickhit {
    from {
        scale: 0.5;
        transition: all 2s ease;
    }

    to {
        transition: 2s ease;
        scale: 1;
        background: rgba(7, 66, 229, 0.5);
        border-radius: 5px;
    }
}